@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
  margin: 0;
  font-family: "Open Sans";
}

.carousel {
  padding-bottom: 85px;
}

main {
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}
